<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
     <nav>
        <ul>
            <li><a  class="links" href="{{ url_for('main.home') }}">Home</a></li>
            <li><a class="links" href="{{ url_for('main.dailytask') }}">Add Task</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to My Flask App</h1>
        <p>This is a simple Flask application.</p>
        
       

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

